[submodule "_vim/bundle/vcscommand"]
	path = _vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
