[submodule "_vim/bundle/vcscommand"]
	path = _vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/pytest.vim"]
	path = _vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "_vim/bundle/indent-object.vim"]
	path = _vim/bundle/indent-object.vim
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "_vim/bundle/vim-hybrid"]
	path = _vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
